#control-panel {
    font-size: 15px;
    text-shadow: 5px 5px 5px black, 0px 0px 2px red, 2px 2px 3px green;
    text-align: center;
    border-style: solid;
    border-color: #01010e;
    border-width: 0px 0px 1px 0px;
}

.container {
    width: 100% !important;
    height: 80% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#button-tag {
    margin: 2px;
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: #01010e;
    border-width: 0px 0px 1px 0px;
    padding-bottom: 5px;
}

#dropdown-list {
    margin: 5px;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    .btn-sm {
        font-size: 0.2rem !important;
        padding: 0.10rem 0.2rem !important;
    }
    .dropdown-menu {
        font-size: 0.5rem !important;
    }
}

@media screen and (max-width: 2000px) {
    .btn-sm {
        font-size: 0.5rem !important;
        /* padding: 0.10rem 0.2rem !important; */
    }
    .dropdown-menu {
        font-size: 0.7rem !important;
    }
}


/* --------------------------------- */


/* fieldset {
    width: 100%;
    padding: 20px;
    margin: 30px;
    border: 1px solid #ccc;
}

legend {
    font-size: 18px;
    font-weight: bold;
}

#addr-show,
#addr-show02,
#addr-show03 {
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
}

select {
    width: 120px;
    height: 30px;
} */